.stack-gallery {
  position: relative;
  perspective: 800px;
}

.card-tilt {
  position: absolute;
  cursor: grab;
}

.card-mod {
  border-radius: 20px;
  border: 5px solid transparent;
  /* borde dorado  
  background:
    linear-gradient(#1e1e1e, #1e1e1e) padding-box,
    linear-gradient(45deg, #b8860b, #ffd700, #ffec8b, #b8860b) border-box;*/
  /* Si quieres un efecto más brillante, puedes usar este otro degradado más realista: */
  
  background:
    linear-gradient(#1e1e1e, #1e1e1e) padding-box,
    linear-gradient(135deg, #d4af37, #ffd700, #fff8dc, #d4af37) border-box;
  
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.card-mod-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.card-mod-content {
  padding: 10px;
  background-color: #fff;
  text-align: center;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-mod-content h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.card-mod-content p {
  margin: 5px 0 0;
  font-size: 0.85rem;
  color: #555;
}